<h3><%= @contact.name %>様からお問い合わせを承りました</h3>
<h2>【お問い合わせ内容】</h2>
<p class="text-break">
  <%= safe_join(@contact.content.split("\n"),tag(:br)) %>
</p>
<p>
  お問い合わせありがとうございます。<br>
</p>

<p>
  【管理者】
</p>