<h3>Webサイトからお問い合わせがありました。</h3>

<p class="text-break">
  Name: <%= @contact.name %><br>
  Email: <%= @contact.email %><br>
  Message:<br>
  <%= safe_join(@contact.content.split("\n"),tag(:br)) %>
</p>
