<div class="user_textarea">  
  <div class="container">
    <div class="flash">
      <p class="text-center"></p>
    </div>
    <h3 class="text-center mb-5 pt-5">Welcome TO Programing World!</h3>
    <div class="row">
      <div class="offset-md-3 col-md-7">
        <p class="js-span-wrap-text">
          本サイトでは、プログラミング学習の悩み・面白さを<br>
          共有したいという思いを形にしました。<br>
          プロジェクト等を通して、学びを深めていただけると幸いです。
        </p>
      </div>
    </div>
    <%= render "layouts/button" %>
  </div>
</div>