<div class="container">
  <div class="flash mt-0 mb-5">
    <p class="text-center">
      <span class="text-primary"><%= notice %></span>
      <span class="text-danger"><%= alert %></span>
    </p>
  </div>
  <div class="flash4 mt-5 pt-3">
    <h3 class="text-center mb-5 pt-5">Welcome To Programing World!</h3>
    <div class="row">
      <div class="offset-md-2 col-md-8">
        <div id="about" class="js-span-wrap-text">
          <p id="abc">
          本サイトでは、プログラミング学習の悩み・面白さを共有したいという思いを形にしました。
          各機能を通して、学びを深めていただけると幸いです。
          </p>
          <h4 class="text-center mb-5 pt-5">
            本サイトで実現できること
          </h4>
            <ul class="pl-0">
              <li id="def" class="mb-5">
                基礎的な構文などのお悩みから、専門性の高い内容まで、幅広い知識の共有
              </li>
              <li id="hij" class="mb-5">
                自ら議題を立ち上げ、そこへ集まった仲間と共にディスカッションすることにより、問題の解決を図る
              </li>
              <li id="lmn" class="mb-5">
                自身の投稿内容に対して、様々な方からコメントをいただくことができ、多種多様な実装方法が身につく
              </li>
            </ul>
        </div>
      </div>
    </div>
  </div>
  <%= render 'layouts/arrow' %>
</div>

<script>
$(function() {
    var $allMsg = $('#abc');
    var $wordList = $('#abc').html().split("");
    $('#abc').html("");
    $.each($wordList, function(idx, elem) {
        var newEL = $("<span/>").text(elem).css({ opacity: 0 });
        newEL.appendTo($allMsg);
        newEL.delay(idx * 70);
        newEL.animate({ opacity: 1 }, 1100);
    });
});
</script>
<script>
$(function() {
    var $allMsg = $('#def');
    var $wordList = $('#def').html().split("");
    $('#def').html("");
    $.each($wordList, function(idx, elem) {
        var newEL = $("<span/>").text(elem).css({ opacity: 0 });
        newEL.appendTo($allMsg);
        newEL.delay(idx * 70);
        newEL.animate({ opacity: 1 }, 1100);
    });
});
</script>
<script>
$(function() {
    var $allMsg = $('#hij');
    var $wordList = $('#hij').html().split("");
    $('#hij').html("");
    $.each($wordList, function(idx, elem) {
        var newEL = $("<span/>").text(elem).css({ opacity: 0 });
        newEL.appendTo($allMsg);
        newEL.delay(idx * 70);
        newEL.animate({ opacity: 1 }, 1100);
    });
});
</script>
<script>
$(function() {
    var $allMsg = $('#lmn');
    var $wordList = $('#lmn').html().split("");
    $('#lmn').html("");
    $.each($wordList, function(idx, elem) {
        var newEL = $("<span/>").text(elem).css({ opacity: 0 });
        newEL.appendTo($allMsg);
        newEL.delay(idx * 70);
        newEL.animate({ opacity: 1 }, 1100);
    });
});
</script>