/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import "bootstrap";
 @import 'font-awesome-sprockets';
 @import 'font-awesome';


body {
  min-height: 100vh;
  position: relative;/*←相対位置*/
  padding-bottom: 84px;/*←footerの高さ*/
  box-sizing: border-box;
  padding-top: 84px;
}

footer{
  width: 100%;
  background-image: url(/assets/background.jpg);
  background-size: contain;
  color: #fff;
  text-align: center;
  padding: 30px 0;
  position: absolute;/*←絶対位置*/
  bottom: 0; /*下に固定*/
}

#user_bg {
  background-image: url(/assets/thisisengineering1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
  min-height: 100vh;
  flex: 1;
}

// テキストの背景
.user_textarea {
  background: #fffffff0;
  width: 70%;
  min-height: 100vh;
  margin: 0 auto;
  padding: 30px 0;
  box-shadow: 0px 0px 10px black;
  opacity: 0.9;
}

.navbar {
  padding: 22px 0;
}

.field_with_errors {
  display: contents;
   input, textarea {
    @extend .is-invalid;
  }
}

.login_errors {
  @extend .is-invalid;
}

.flash {
    padding: 0.5em 1em;
    margin: 2em 0;
    color: #5989cf;
    background: #c6e4ff;
    border-bottom: solid 6px #aac5de;
    border-radius: 9px;
    top: 300px;
}
.flash p {
    margin: 0;
    padding: 0;
}

.navbar {
  background-image: url(/assets/logo.jpg), url(/assets/background.jpg);
  background-position: 10%, 100%;
  background-repeat: no-repeat, repeat;
  background-size: contain, contain;
}

.flash1 {
    padding: 0.5em 1em;
    margin: 2em 0;
    color: #5989cf;
    background: #c6e4ff;
    border-bottom: solid 6px #aac5de;
    border-radius: 50%;
    opacity: 0.8;
}

.auto-pull-down {
  width: 100%;
  li {
    height: 100px;
    line-height: 100px !important;
    font-size: 24px !important;
  }
}

.auto-pull-down-box {
  height: 100px !important;
  line-height: 100px !important;
}