<span id="back">
  <a href="">
    <%= image_tag asset_path('arrow.png'), data: {"turbolinks"=>false}, class: "arrow" %>
  </a>
</span>
<script>
  $(function() {
    $('#back a').on('click',function(event){
      $('body, html').animate({
        scrollTop:0
      }, 800);
      event.preventDefault();
    });
  });
</script>
