<span id="back">
  <a href="">
    <%= image_tag asset_path('arrow.png'), data: {"turbolinks"=>false}, class: "arrow" %>
  </a>
</span>
<script>
  $(function() {
    $('#back a').on('click',function(event){
      $('body, html').animate({
        scrollTop:0
      }, 800);
      event.preventDefault();
    });
  });
</script>


<!--画像上にimageを表示する際、'/assets/title.png'と記述することも多いですが、-->
<!--asset_pathを使えば、-->
<!--= image_tag asset_path("title.png")で-->
<!--app/assets/images/title.pngを参照してくれます。（プロダクション環境でも参照可能）-->

<!--image.pngというファイルがassets/javascriptsに存在する場合-->
<!--'/assets/application.js'が、=>asset_path('application.js')とできる。-->

<!--$('.セレクタ名').on('click', function() {-->
<!--  イベント発生時に行われる処理-->
<!--});-->

<!--クリック後に処理が行われる-->

<!--function(event)のeventはイベントオブジェクトというもので、今回はclickイベントが-->
<!--発生した際の様々な情報をeventという名前の引数に渡されます。-->
<!--この引数に渡されるイベントオブジェクトは省略が可能です。-->

<!--position: fixed;を指定することで、「トップへ戻る」ボタンは常に同じ位置で固定される。-->

<!--scrollTopはスクロール位置を取得できるメソッド。-->
<!--今回は、scrollTop:0を指定しているので、最上部に移動するの意味になる。-->
<!--800ミリ秒間かけて移動する。-->
<!--ページ全体に対して処理を実行したいので、セレクタには、$('body, html')が設定されています。-->
<!--body要素または、html要素-->
<!--２つの要素を指定するのは、ユーザの利用環境によって指定対象の要素が変化するためです。-->
<!--event.preventDefault():は、aタグの機能を無効にするメソッドです。-->
<!--aタグは画面遷移をする機能を保ちますが、今回は必要ないため、無効化する-->

